<div id="<%= dom_id article %>">
  <p>
    <strong>Title:</strong>
    <%= article.title %>
  </p>

  <p>
    <strong>Picture:</strong>
    <%=image_tag article.picture, class: "col-3" %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= article.description %>
  </p>

  <p>
    <strong>Por:</strong>
    <%= article.client.name %>
  </p>

</div>
