<div class="row">
  <div class="col-9"><%= render @article %></div>
  
  <div class="col-3 d-flex justify-content-center">
    <% emojis = ["&#128571;", "&#128008;", "&#128574;"] %>
    <div class="w-75">
      <% Article::Kinds.zip(emojis).each do |kind, emoji| %>
        <% reaction_count = @article.reactions.where(kind: kind).count %>
        <% active_class = @active_kinds.include?(kind) ? "active" : "" %>
        <%= button_to "#{emoji} #{Article::KindsSpanish[kind]} (#{reaction_count})".html_safe, new_client_reaction_path(reaction: { article_id: @article.id, kind: kind }), method: :post, class: "btn btn-outline-dark #{active_class} #{@gatebutton} w-100 text-start py-2 mb-2" %>
      <% end %>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-9">
    <div class="d-flex justify-content-center">
      <%if client_signed_in?%>
      <%if current_client.id == @article.client_id || current_client.role == 'admin' %><br> <!--Solo el autor puede editar sus publicaciones ahora-->
        <%= link_to "Editar entrada", edit_article_path(@article), class: "btn btn-light mybtn text-white mt-3 mx-4" %>
        <%= button_to "Eliminar entrada", @article, method: :delete, class: "btn btn-light mybtn text-white mt-3" %>
      <%end%>
      <%end%>
    </div>

    <hr class="my-5">
    <%= render 'opinions/form' %>

    <div class="my-4">
      <% @opinions.reverse.each do |opinion| %>
        <div class="mb-3"><%= render partial: "opinions/opinion", locals: { opinion: opinion } %></div>
      <% end %>
    </div>
  </div>
</div>

